<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <section class="container block">
      <div class="accordion__wrapper">
        <div class="accordion__intro">
          <h2 class="accordion__heading">رزومه و سوابق</h2>
          <span>
            <span>ویرایش</span>
            <span>
              <i class="far fa-edit"></i>
            </span>
          </span>
        </div>
        <div class="accordion">
          <header class="accordion__header">
            <h2 class="accordion__heading">سابقه تحصیلی</h2>
            <span class="icon-chev">
              <i class="fas fa-chevron-circle-right"></i>
            </span>
          </header>
          <div class="accordion__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
            enim debitis placeat ut nihil veritatis necessitatibus provident
            impedit, repellat delectus. Quisquam ut vel harum quasi recusandae.
            Dignissimos nemo unde similique!
          </div>
        </div>
        <div class="accordion">
          <header class="accordion__header">
            <h2 class="accordion__heading">سابقه تحصیلی</h2>
            <span class="icon-chev">
              <i class="fas fa-chevron-circle-right"></i>
            </span>
          </header>
          <div class="accordion__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
            enim debitis placeat ut nihil veritatis necessitatibus provident
            impedit, repellat delectus. Quisquam ut vel harum quasi recusandae.
            Dignissimos nemo unde similique!
          </div>
        </div>
        <div class="accordion">
          <header class="accordion__header">
            <h2 class="accordion__heading">سابقه تحصیلی</h2>
            <span class="icon-chev">
              <i class="fas fa-chevron-circle-right"></i>
            </span>
          </header>
          <div class="accordion__content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
            enim debitis placeat ut nihil veritatis necessitatibus provident
            impedit, repellat delectus. Quisquam ut vel harum quasi recusandae.
            Dignissimos nemo unde similique!
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
