    <div class="contact-container">
        <div class="contactus-wrapper">
            <div class="form-box">
              <form class="contact-form">
                <h2>نظرات شما</h2>
                <input type="text" class="f-input" id="username" placeholder="نام شما">
                <input type="email" class="f-input" id="email" placeholder="ایمیل">
                <textarea id="text-area" form="form-box" cols="35" rows="10" placeholder="نظر خود را بنویسید" maxlength="300" ></textarea>
                <button class="btn btn--primary">ارسال</button>
              </form>
            </div>
            <div class="detail-box">
              <div class="icons">
                <span class="icon-span phone-icon"><i class="fa-solid fa-mobile-screen-button"></i>
                <p class="icon-detail">۰۹۹۰۷۲۷۰۲۲۶</p></span>
              <span class="icon-span map-icon"><i class="fa-solid fa-location-dot"></i></i>
              <p class="icon-detail">ایران-تهران</p></span>
              <span class="icon-span mail-icon"><i class="fa-regular fa-envelope"></i>
              <p class="icon-detail">sepehrshapouri@gmail.com</p></span>
            </div>
              <img class="form-map" src="./assets/image/map.png" alt="">
              <div class="icon-2">
                <span class="icon twitter-icon"><i class="fa-brands fa-twitter"></i></span>
                <span class="icon facebook-icon"><i class="fa-brands fa-square-facebook"></i></span>
                <span class="icon linkedin-icon"><i class="fa-brands fa-linkedin"></i></span>
              </div>
            </div>
          </div>
        </div>