<div class="main-footer">
    <div class="footer-container">
      <div class="footer-block block-4">
        <img class="logo-4" src="./assets/image/logo-4.svg" alt="" />
        <p>اپلیکیشن درخواست خودرو و پیک</p>
      </div>
      <div class="footer-block">
        <h2>تپسی</h2>
        <a class="footer-text" href="">وبلاگ تپسی</a>
        <a class="footer-text" href="">فرصت شغلی</a>
        <a class="footer-text" href="">تماس با ما</a>
        <a class="footer-text" href="">لوگو و هویت سازمانی</a>
        <a class="footer-text" href="">معرفی راننده به تپسی</a>
      </div>
      <div class="footer-block">
        <h2>مسافران</h2>
        <a class="footer-text" href="">دانلود اپ مسافر</a>
        <a class="footer-text" href="">نسخه وب تپسی</a>
        <a class="footer-text" href="">پرسش‌های متداول مسافران</a>
        <a class="footer-text" href="">شرایط و قوانین مسافران</a>
        <a class="footer-text" href="">باشگاه مشتریان</a>
      </div>
      <div class="footer-block">
        <h2>رانندگان</h2>
        <a class="footer-text" href="">دانلود اپ سفیر</a>
        <a class="footer-text" href="">ثبت نام راننده تاکسی اینترنتی</a>
        <a class="footer-text" href="">پرسش‌های متداول سفیران</a>
        <a class="footer-text" href="">شرایط و قوانین سفیران</a>
        <a class="footer-text" href="">باشگاه سفیران</a>
      </div>
      <div class="footer-block">
        <h2>کسب و کار ها</h2>
        <a class="footer-text" href="">پنل سازمانی تپسی</a>
        <a class="footer-text" href="">خرید کد اعتبار و تخفیف</a>
        <a class="footer-text" href="">دریافت API</a>
      </div>
      <div class="footer-block-logo">
        <img
          class="footer-logo logo-1"
          src="./assets/image/logo-1.png"
          alt="logo"
        />
        <img
          class="footer-logo logo-2"
          src="./assets/image/logo-2.png"
          alt="logo"
        />
        <img
          class="footer-logo logo-3"
          src="./assets/image/logo-3.png"
          alt="logo"
        />
      </div>
      <p class="claim-text">
        تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.
      </p>
    </div>
  </div>