<header class="main-header">
    <nav class="navbar">
<img class="tapsi-logo" src="./assets/image/logo.svg" alt="">
      <div class="toggler">
        <div class="bar bar-1"></div>
        <div class="bar bar-2"></div>
        <div class="bar bar-3"></div>
      </div>

      <ul class="nav-list">
        <li class="list-item"><a href="">وبلاگ</a></li>
        <li class="list-item"><a href="">فرصت‌های شغلی</a></li>
        <li class="list-item"><a href="">خدمات کسب‌وکارها</a></li>
        <li class="list-item"><a href="">معرفی راننده</a></li>
        <li class="list-item"><a href="">پشتیبانی</a></li>
        <li class="list-item"><button class="btn btn--primary">دانلود تپسی</button></li>
      </ul>
    </nav>
  </header>
<script src="./js/main.js"></script>