<div class="plan-container wrapper">
    <section class="plan-section section--secondary s-1">
        <div class="plan-section-header">
            <div class="plan-header-title" dir="ltr">
            <span dir="ltr" class="badge badge--secondary">15% OFF</span>
            <p>عادی</p>
        </div>
        <span class="plan-intro">
            <h1>290,000</h1>&nbsp;&nbsp;<p dir="ltr"class="price">ماهانه / تومن</p>
        </span>
        <h2>سرویس ماشین های معمولی</h2>
        </div>
        <ul class="list list--checkbox">
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
          </ul> 
          <button class="btn btn--secondary btn-block">ثبت سفارش</button>
    </section>
    <section class="plan-section section--primary">
        <div class="plan-section-header">
            <div class="plan-header-title" dir="ltr">
            <span dir="ltr" class="badge badge--primary">15% OFF</span>
            <p>اقتصادی</p>
        </div>
        <span class="plan-intro">
            <h1>390,000</h1>&nbsp;&nbsp;<p dir="ltr"class="price">ماهانه / تومن</p>
        </span>
            <h2>سرویس ماشین های کلاسیک</h2>
        </div>
        <ul class="list list--checkbox">
            <li class="list__item">کیفیت عالی</li>
            <li class="list__item">کم سرو صدا</li>
            <li class="list__item">زمان محدود</li>
            <li class="list__item">سرویس روزانه</li>
          </ul> 
          <button class="btn btn--primary btn-block">ثبت سفارش</button>
    </section>
    <section class="plan-section section--secondary s-2">
        <div class="plan-section-header">
            <div class="plan-header-title" dir="ltr">
                <span dir="ltr" class="badge badge--secondary">15% OFF</span>
            <p>ویژه</p>
        </div>
        <span class="plan-intro">
            <h1>490,000</h1>&nbsp;&nbsp;<p dir="ltr"class="price">ماهانه / تومن</p>
        </span>
            <h2>سرویس ماشین های معمولی</h2>
        </div>
        <ul class="list list--checkbox">
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
          </ul> 
          <button class="btn btn--secondary btn-block">ثبت سفارش</button>
    </section>
    </div>