<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section class="container-1 radio-button block-1">
       <h2 class="driver-type"> انتخاب نوع راننده</h2>
        <div class="select-type">
            <div class="select-control">
                <input type="radio" name="driver-type" id="type-a">
                <label for="type-a">راننده خصوصی</label>
                <p class="hire-text">در دسترس کاربران ویژه</p>
            </div>
            <div class="select-control">
                <input type="radio" name="driver-type" id="type-b">
                <label for="type-b">راننده عمومی</label>
                <p class="hire-text">در دسترس عموم کاربران</p>
            </div>
        </div>
    </section>
</body>
</html>